{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["babel-plugin-transform-scss"],
    // ["@babel/transform-runtime"]
  ]
}